[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = "==3.12.1"
dnspython = "*"
djongo = "*"
pytz = "*"
markdown = "*"
django-taggit = "*"
django-compressor = "*"
waitress = "*"
whitenoise = "*"
django-redis = "*"
django-environ = "*"
django-clearcache = "*"

[dev-packages]
djlint = "*"
bandit = "*"
autopep8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
